html {
  height: 90%;
  width: 90%;
}

body,
main,
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  color: #5c82a3;
  text-align: center
}

h1 {
  background-color,
  nav;
  : #d0d4d7;
}

li {
  display: inline-block;
}

p {
  line-height: 55%;
}
